

.cta{
    text-align: center;
}

.cta__description{
    font-size: var(--size-xl);
    font-weight: 400;
    max-width: 60ch;

    margin-top: 1rem;
    margin-inline: auto;
}

.cta__btn{
    font-size: var(--size-xl);
    font-weight: 600;

    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}

.cta__escape{
    display: none;
}

@media (max-width: 1536px){}

@media (max-width: 1280px){}

@media (max-width: 1024px){
    .cta__description{
        font-size: var(--size-lg);
    }

    .cta__btn{
        font-size: var(--size-lg);
    }
}

@media (max-width: 768px){}

@media (max-width: 640px){
    .cta__description{
        font-size: var(--size-base);
    }

    .cta__btn{
        font-size: var(--size-base);

        flex-direction: column;
        gap: 1.5rem;
    }

}

@media (max-width: 475px){
    .cta__description{
        max-width: 35ch;
    }

    .cta__escape{
        display: inline;
    }
}