

.footer{
    background-color: var(--clr-light-grayish-blue);

    display: flex;
    padding: 2rem;
}

.footer__logo--container{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo{
    width: var(--size-6xl);
    height: auto;
}

.footer__link--container{
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, minmax(20ch, 1fr));
    row-gap: 1rem;
}

.footer__link--container > *{
    max-width: 15ch;
}

.footer__link{
    text-decoration: none;

    font-size: var(--size-base);
    font-weight: 400;
    color: var(--clr-dark-grayish-blue);
    transition: color 0.1s;
}

.footer__link:hover{
    color: var(--clr-strong-cyan);
}

.footer__social--container{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.footer__social--fac{
    width: 24px;
    height: 24px;
}

.footer__social--twi{
    width: 24px;
    height: 20;
}

.footer__social--ins{
    width: 24px;
    height: 24px;
}

.footer__social--icon{
    width: var(--size-6xl);
    height: auto;
}

.footer__social--path{
    transition: fill 0.1s;
}

.footer__social:hover .footer__social--path{
    fill: var(--clr-strong-cyan);
}


@media (max-width: 1536px){}

@media (max-width: 1280px){}

@media (max-width: 1024px){
    .footer__link--container{
        grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
        row-gap: 1rem;
    }
}

@media (max-width: 768px){
    
}

@media (max-width: 640px){
    .footer{
        flex-direction: column;
        align-items: center;

        text-align: center;
        gap: 3rem;
    }
}

@media (max-width: 475px){}