

.hero{
    text-align: center;

    margin-top: 10rem;
}

.hero__logo{
    width: var(--size-9xl);
    height: auto;

    margin-inline: auto;
}


.hero__title{
    font-size: var(--size-5xl);
    font-weight: 600;
    line-height: 1;

    margin-top: 2.5rem;
}

.hero__description{
    font-size: var(--size-xl);
    font-weight: 400;
    max-width: 50ch;

    margin-top: 1rem;
    margin-inline: auto;
}

.hero__btn{
    font-size: var(--size-xl);
    font-weight: 600;

    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-top: 3rem;
}


@media (max-width: 1536px){}

@media (max-width: 1280px){}


@media (max-width: 1024px){
    .hero__logo{
        width: var(--size-8xl);
    }
    
    .hero__title{
        font-size: var(--size-4xl);
    }
    
    .hero__description{
        font-size: var(--size-lg);
    }
    
    .hero__btn{
        font-size: var(--size-lg);
    }
    
}

@media (max-width: 768px){}

@media (max-width: 640px){
    .hero{
        text-align: center;
    
        margin-top: 5rem;
    }

    .hero__title{
        font-size: var(--size-3xl);
        margin-top: 2rem;
    }
    
    .hero__description{
        font-size: var(--size-base);
    }

    .hero__btn{
        font-size: var(--size-base);
        
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (max-width: 475px){   
    .hero__title{
        max-width: 15ch;
        margin-top: 2rem;
        margin-inline: auto;
    }

    .hero__description{
        max-width: 35ch;
    }
}